---
import client from "@data/client.json";
import { getCurrentYear } from "@libs/utils";

const currentYear = getCurrentYear();
const { logo, words } = Astro.props;
---

<footer id="cs-footer-710">
  <div class="cs-container">
      <!--Top Section-->
      <div class="cs-top">
          <!--Warpped logo in wrapper div so that div can be 100% width to force the lists below it to stay in their line.  The cs-logo can maintain its' max width. we didn't want it 100% width becuase then the blank area to the right of the logo will also result in a click and hover event. -->
          <div class="cs-logo-wrapper">
              <a href="" class="cs-logo">
                  <img src=/assets/images/logo-white.png alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="210" height="80">
              </a>
          </div>
          <!-- 
          <ul class="cs-ul">
              <li class="cs-li">
                  <span class="cs-header">Quick Links</span>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Services</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Contact us</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">FAQ</a>
              </li>
          </ul>
          <ul class="cs-ul">
              <li class="cs-li">
                  <span class="cs-header">Quick Links</span>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Semaglutide</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Dermal Filler</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Tirezapetide</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Neurotoxins</a>
              </li>
          </ul> 
          -->
          <ul class="cs-ul cs-contact-ul">
              <li class="cs-li">
                  <span class="cs-header">Contact</span>
              </li>
              <li class="cs-li">
                  <a href={`tel:${client.phoneForTel}`} class="cs-link">
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                      {client.phoneFormatted}
                  </a>
              </li>
              <li class="cs-li">
                  <a href={`mailto:${client.email}`} class="cs-link">
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                      {client.email}
                  </a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link" target="_blank" rel="noopener">
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                      {client.address.city}
            {client.address.state}
            {client.address.zip}
                  </a>
              </li>
          </ul>
      </div>
      <!--Middle Section-->
      <div class="cs-middle">
          <!--Navigation-->
          <!-- 
          <ul class="cs-nav">
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">Home</a>
              </li>
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">Services</a>
              </li>
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">About Us</a>
              </li>
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">Functional Nutrition</a>
              </li>
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">Asthetics</a>
              </li>
              <li class="cs-nav-li">
                  <a href="" class="cs-nav-link">FAQ</a>
              </li>
          </ul>
          -->
          <!--Social-->
          <!--
          <ul class="cs-social">
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                   
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffacebook.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                 
                      <img class="cs-social-icon cs-hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffacebook-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                  
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                
                      <img class="cs-social-icon cs-hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
               
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstagram.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                   
                      <img class="cs-social-icon cs-hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstagram-green2.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                     
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fyoutube.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    
                      <img class="cs-social-icon cs-hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fyoutube-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                  </a>
              </li>
          </ul>
      </div>
    -->
      <!--Bottom Section-->
      <div class="cs-bottom">
          <span class="cs-copyright">
              © Copyright {currentYear} - <a href="/" class="cs-copyright-link" target="_blank" rel="noopener">Levant Intelligence</a> 
              <br>          
          Developed & Hosted by
    <a href="https://techbytiba.com" class="cs-copyright-link" target="_blank" rel="noopener">Tech by Tiba</a></span>
      </div>
  </div>
  <!--SVG Waves-->
  <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffooter-waves.svg" alt="waves" aria-hidden="true" loading="lazy" decoding="async" width="1920" height="616">
</footer>
                              
<style lang="less">
  /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-710 {
        padding: var(--sectionPadding);
        padding-bottom: (50/16rem);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-logo-wrapper {
            width: 100%;
        }

        .cs-logo {
            width: 100%;
            max-width: (210/16rem);
            height: auto;
            margin-right: auto;
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-top {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            /* 64px - 100px */
            column-gap: clamp(4rem, 9vw, 6.25rem);
            row-gap: (32/16rem);
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
            flex: none;
        }

        .cs-contact-ul {
            /* we remove the :before animated underline from the contact list and replace it with an underline.  The animated line doesn't work well on this section */
            width: 100%;
            max-width: 100%;
            gap: (12/16rem);

            .cs-link {
                &:hover {
                    text-decoration: underline;
                }
                &:before {
                    display: none;
                }
            }
        }

        .cs-li {
            list-style: none;
            margin: 0;
            display: block;
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (24/16rem) 0;
            color: #fff;
            display: block;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-block {
            display: block;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            margin: (-1/16rem) (12/16rem) 0 0;
        }

        .cs-middle {
            width: 100%;
            /* changes at tablet */
            max-width: (450/16rem);
            /* 60px - 100px */
            margin: clamp(3.75rem, 8vw, 6.25rem) 0 0 0;
            /* 24px - 40px */
            padding-bottom: clamp(1.25rem, 5vw, 2.5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-nav {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (40/16rem);
            row-gap: (8/16rem);
        }

        .cs-nav-li {
            list-style: none;
        }

        .cs-nav-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: (32/16rem);
            height: (32/16rem);
            background-color: transparent;
            border: 1px solid #f6e5db;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
            &:hover {
                background-color: #f6e5db;

                .cs-default {
                    display: none;
                }

                .cs-hover {
                    display: block;
                }
            }
        }

        .cs-social-icon {
            width: (12/16rem);
            height: auto;
            display: block;
        }

        .cs-hover {
            display: none;
        }

        .cs-bottom {
            width: 100%;
            margin: 0;
            /* 24px - 40px, matches the cs-middle padding bottom */
            padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
            border-top: 1px solid rgba(186, 186, 186, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-copyright {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            width: 70%;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-copyright-link {
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            margin: 0;
            color: inherit;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }

        .cs-graphic {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            /* makes it act like a background image */
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
    }
}

/* inbetween - 600px */
@media only screen and (min-width: 37.5rem) {
    #cs-footer-710 {
        .cs-top {
            justify-content: flex-end;
        }

        .cs-ul {
            width: auto;
        }

        .cs-contact-ul {
            width: (240/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-710 {
        .cs-top {
            flex-wrap: nowrap;
        }

        .cs-logo-wrapper {
            width: auto;
            margin-right: auto;
        }

        .cs-middle {
            max-width: 100%;
        }
    }
}

/* Small Desktop 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-710 {
        .cs-middle {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
                                
</style>